<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

  <mat-form-field appearance="outline">
    <mat-label>Mobile</mat-label>
    <input matInput placeholder="9777777777" formControlName="mobile" id="mobile" name="mobile" maxlength="10" appNumberOnly>
    <mat-icon matSuffix></mat-icon>
    <mat-hint>(9777777777)</mat-hint>
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput placeholder="******" id="password" name="password" formControlName="password">
    <mat-icon matSuffix></mat-icon>
    <mat-hint>(nopass)</mat-hint>
  </mat-form-field>

  <!-- <input type="text" id="mobile" name="mobile"   > -->
  <!-- <input type="password" id="password" name="password" formControlName="password"> -->
  <br>
  <button mat-raised-button type="submit">Submit</button>
</form>
